.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .header__logo .logo {
  display: block;
  height: 100px;
  width: 130px;
  background-color: orange;
}

.header__top .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .header__right .search {
  height: 20px;
}

.header__bottom .navigation {
  position: relative;
}

.header__bottom .navigation .site-navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

.header__bottom .navigation .site-navigation__item {
  list-style: none;
  padding-bottom: 20px;
}

.header__bottom .navigation .site-navigation__item:hover {
  border-bottom: 1px solid orange;
}

.header__bottom .navigation .site-navigation__link {
  color: #1a1a1a;
  text-decoration: none;
}

.owl-carousel .owl-nav .disabled {
  display: none;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0px;
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0px;
  left: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid gray;
  min-height: 300px;
  width: 250px;
}

.card__img {
  min-width: 100px;
  min-height: 150px;
  background-color: green;
}

.card__title {
  font-size: 20px;
}

.card__text {
  color: #1a1a1a;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 22px;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__title {
  display: inline;
}

.news__link {
  display: inline;
}

.coment__title {
  display: inline;
}

.coment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 200px;
  background-color: orange;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.coment__text {
  color: white;
  padding-bottom: 30px;
}

.coment__signature {
  color: white;
  padding-bottom: 20px;
}

.helpful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.helpful-links__item {
  padding: 10px 15px;
  background-color: gray;
  font-weight: 900;
  margin-bottom: 15px;
  text-decoration: none;
  color: #1a1a1a;
  text-align: center;
}

.helpful-links__item:last-child {
  margin-bottom: 0;
}
