.footer {
	background-color: $second-color;
	color: white;
	&__icons {
		display: flex;
		width: 200px;
		justify-content: space-between;
		margin: 0 auto;
		.icon {
			padding: 30px 0;
			display: block;
			width: 30px;
			height: 30px;
		}
	}

	&__adress {
		text-align: center;
		padding-bottom: 20px;
	}

	&__spliter {
		border-bottom: 1px solid white;
		margin: 0 40px;
	}

	&__podpis {
		padding: 20px;
		text-align: center;
	}
}
