//header
.header {
	padding-top: 10px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	.header-logo {
		display: flex;
		justify-content: space-between;
		&__image {
			display: block;
			height: 100px;
			width: 150px;
		}
		.header-title {
			margin: 25px 0 0 20px;
			&__title {
				font-size: 30px;
				font-weight: 700;
			}
			&__subtitle {
				margin-top: 10px;
				font-size: 12px;
				color: #646464;
			}
		}
	}
	.header-right {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		.search {
			box-sizing: border-box;
			height: 35px;
			width: 200px;
			border-radius: 22px;
			border: none;
			background-color: #dddddd;
			color: #646464;
			margin-right: 15px;
			padding-left: 20px;
		}
		.btn {
			box-sizing: border-box;
			background-color: $first-color;
			padding: 0 25px;
			line-height: 35px;
			text-align: center;
			color: white;
			height: 35px;
			font-size: 14px;
			border-radius: 22px;
			min-width: 200px;
			span {
				padding: 0 33px 0 0;
				background: url(../assets/img/icons/calendar.svg) right no-repeat;
				background-size: 18px;
			}
		}
	}
}

.header__bottom {
	margin-top: 30px;
	.navigation {
		position: relative;

		.site-navigation {
			box-sizing: border-box;
			padding: 0 30px;

			&__item {
				list-style: none;
				box-sizing: border-box;
				padding: 0 10px 20px 10px;
				border-bottom: 2px solid white;
				&:hover {
					border-bottom: 2px solid $first-color;
				}
			}
			&__link {
				color: #1a1a1a;
				text-decoration: none;
			}
		}
	}
}
//carousel
.owl-carousel {
	.owl-nav {
		.disabled {
			display: none;
		}
		button.owl-next {
			position: absolute;
			top: 0px;
			right: 0;
		}
		button.owl-prev {
			position: absolute;
			top: 0px;
			left: 0;
		}
	}
}
