.book {
	&__skin {
		background-color: greenyellow;
		display: block;
		width: 130px;
		height: 150px;
	}
	&__title {
		font-weight: 900;
		font-size: 15px;
	}
	&__subtitle {
		font-size: 12px;
		color: $btn-color-active;
		font-family: $helvetica-m;
	}
}
