@import "abstracts/variables";

@import "header";
@import "card";
@import "slider";
@import "footer";

html {
	font-family: segoe;
	color: $font-color;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}

.fullpageimage {
	background-image: url(../assets/img/books.jpg);
	width: 100%;
	height: 200px;
	background-position: top 44% center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.title,
.title1 {
	font-size: 24px;
	display: inline;
	font-family: $title-font;
}
.title2 {
	font-size: 18px;
	display: inline;
	font-family: $title-font;
}
.link {
	font-size: 14px;
	text-transform: uppercase;
	color: $first-color;
	text-decoration: none;
}

.content__container {
	display: flex;
	justify-content: space-between;
}

/*main-contant*/
.news {
	&-cards {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
	}
	&__title {
		display: inline;
		padding-left: 10px;
	}
	&__link {
		display: inline;
	}
}
/*right-side*/
.coment {
	&__title {
		display: inline;
		box-sizing: border-box;
	}
	&__content {
		margin-top: 30px;
		position: relative;
		display: flex;
		height: 350px;
		width: 260px;
		background-color: $first-color;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0 15px;
	}
	&__text {
		color: white;
		padding-bottom: 30px;
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			display: block;
			margin: 0 auto;
			position: absolute;
			background-color: white;
			top: 80px;
			right: 120px;
		}
	}
	&__signature {
		color: white;
		padding-bottom: 20px;
	}
}
.helpful {
	padding: 20px 0;
	&__title {
		color: #1a1a1a;
		padding-bottom: 20px;
		display: block;
	}
	&-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__item {
			padding: 10px 15px;
			background-color: gray;
			font-weight: 900;
			margin-bottom: 15px;
			text-decoration: none;
			color: #1a1a1a;
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
