@import "header";
@import "card";
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}

.content__container {
	display: flex;
}

.title {
	font-size: 22px;
}
.news {
	&-cards {
		display: flex;
		flex-wrap: wrap;
	}
	&__title {
		display: inline;
	}
	&__link {
		display: inline;
	}
}

.coment {
	&__title {
		display: inline;
	}
	&__content {
		display: flex;
		height: 300px;
		width: 200px;
		background-color: orange;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__text {
		color: white;
		padding-bottom: 30px;
	}
	&__signature {
		color: white;
		padding-bottom: 20px;
	}
}
.helpful {
	&__title {
	}
	&-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__item {
			padding: 10px 15px;
			background-color: gray;
			font-weight: 900;
			margin-bottom: 15px;
			text-decoration: none;
			color: #1a1a1a;
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
