//fonts
$main-font: "segoe";
$main-f-italic: "segoe-italic";
$helvetica-m: "helvetica";
$helvetica-italic-m: "helvetica-medium-italic";
$title-font: "helvetica-bold";
$helvetica-italic-b: "helvetica-bold-italic";

//color
$first-color: #f45900;
$second-color: #212121;
$font-color: #1a1a1a;
$font-color-white: white;
$btn-color-active: #4a4d5a;
